/*------------------------------------
	RESET 
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*------------------------------------
	COMMON
------------------------------------*/
/* body, td, textarea, input, select { font: normal normal normal 13px/normal Lucida Grande, Dejavu sans, Bitstream Vera Sans, Segoe UI, Verdana, Tahoma, Arial, sans-serif; } */

body, td, textarea, input, select{ font: normal normal normal 13px/18px Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; }
pre, code { font-family: Monaco, Consolas, "Andale Mono", "Dejavu Sans Mono", monospace; }
blockquote.stylish, .amp, .and { font-family: Baskerville, Palatino, "Book Antiqua", serif; font-style: oblique; }
blockquote.stylish{ font-size:1.2em }
blockquote{ font-style:italic; padding: 15px 15px 15px 25px;  }
blockquote.left { float: left; margin-left: 0; margin-right: 20px; text-align: right; width: 33%; }
blockquote.right { float: right; margin-left: 20px; margin-right: 0; text-align: left; width: 33%; }

.comment-body, .comment-body p { font-family: georgia, palatino, palatino linotype, times, times new roman, serif; font-style: oblique; }

small, 
.small,
.tiny,
.entry-meta,
.entry-footer,
.edit-link a,
#comments-list li .comment-edit-link,
.reply a,
#cancel-comment-reply,
.entry-category,
.read-more,
.edit-link,
.comments-link,
#breadcrumbs  span{
	font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 11px; 
	line-height: 14px;
}

.smallcaps { font-variant: small-caps; }

h1, h2, h3, h4, h5, h6 { 
	font-family: GillSans, "Trebuchet MS", Calibri, sans-serif;
	font-weight: normal;
	letter-spacing: 1px; 
	text-shadow: 1px 1px 1px rgba(125, 125, 125, 0.3); }

h1{ font-size:2em; }
h2{ font-size:1.5em; }
h3{ font-size:1.17em; text-transform:uppercase; }
h4{ font-size:1.3em; }
h5{ font-size:1.1em; }
h6{ font-size:1em; font-weight:bold; }

.logged-in h1{ border:1px dashed rgba(255,0,0,0.3); } /* for SEO */
.logged-in h1:hover{ border:1px dashed rgba(255,0,0,0.9); } /* for SEO */
.logged-in a[rel~="nofollow"] { border: 1px dashed rgba(255,100,0,0.3); }  /* for SEO */
.logged-in a[rel~="nofollow"]:hover { border: 1px dashed rgba(255,150,0, 1); }  /* for SEO */

a { text-decoration: none; } a:hover { text-decoration: underline; }

pre { overflow-x: auto; padding: 10px; }
code { font-size: 1.1em; padding: 0 2px; }

ul, li { list-style-type: circle; }
ul, ol { margin-top: 1em; padding-left: 1.5em; }

img.alignleft, img[align="left"] { -webkit-box-shadow: #999 0 2px 5px; box-shadow: #999 0 2px 5px; -moz-box-shadow: #999 0 2px 5px;}
img.alignright, img[align="right"] { -webkit-box-shadow: #999 -2px 2px 5px; box-shadow: #999 -2px 2px 5px; -moz-box-shadow: #999 -2px 2px 5px;}

img.alignleft.noshadow { -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}
img.alignright.noshadow { -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}

a img { border: 0; }

.wp-caption p.wp-caption-text { font-size: 10px; }

h1, h2, h3, h4, p, ul, ol, .widget-title{ margin-bottom:15px; }

.widget-title{ display:block; }	
.note, .warning { font-style: oblique; }

.hidetext, .screen-reader-text { 	
	position: absolute;
	left: -9000px; }
.hidden{ display:none; }

/* Clear */
.clear, .clearboth{ clear:both; }
.clearleft{ clear:left; }
.clearright{ clear:right; }

/* Alignments */
p{ text-align:justify; }
.right{ text-align:right; }
.left{ text-align:left; }

/*- Breadcrumbs */
#breadcrumbs{ padding:5px; margin-bottom:20px; background:#ddd; border-bottom:1px solid #ccc; } 
.breadcrumbs { color: #999; }
.breadcrumbs .current { color: #c6c; }

/*- Columnar layout */
#columns .widget-container{ display:inline; float:left; width:300px; margin-left: 10px; margin-right: 10px; }
#columns .seperator{ clear:both; border-top:1px solid #ccc; margin:0px 10px 20px; height:1px; }

/*- Author box */
#authorbox{ border:1px solid #CECFD0; margin:0 10px 10px; overflow:hidden; }
#authorbox h4{ font-size:16px; color:#191919; margin:0; padding:10px 10px 5px 10px; }
.authortext{ padding-left:100px; }
#authorbox img{ margin:0; padding:10px; float:left; }
#authorbox .avatar{ border:0; }
#authorbox p{ color:#191919; margin:0; padding:0px 10px 10px 10px; }
#authorbox h4 > a{ text-decoration:none; }
#authorbox p{ color:#191919; }

/* Copyright */
#theme-footer{ text-align:center; margin-top:15px; font-size:12px; }
#theme-copyright{ clear:both; width:800px; text-align:center; margin:10px auto; font-family:  Verdana, Geneva, Tahoma, sans-serif; font-size:10px; color:#888; }
#theme-copyright a,#theme-copyright a:hover { color :#888; }



