/* Horizontal lists */
ul.horizontal, ul.horizontal li{ list-style:none;margin:0; display:inline; }
ul.horizontal li{ padding:3px 10px; } ul.horizontal li+li{ border-left:1px solid #999; }

/* Check list */
ul.ticks, ol.ticks{ list-style:none; padding-left:20px; }
ul.ticks li{ background: url(icon-tick.gif) no-repeat 8px 3px; line-height: 30px; list-style: none; padding-left: 42px; }