/*

 Shailan Theme Framework 
 BASE Stylesheet 
 
 Author : @metinsaylan

*/

@import url('common.css'); 

html{ -webkit-font-smoothing: antialiased; }

#header {
	position: relative;
	padding: 20px 0 0;
}

#header #searchform-wrapper {
	margin-top: 6px;
}

#header-wrapper .widget-container, #header-bottom .widget-container{ margin:0; }
#header-bottom-wrap{
background: #F0F0EF;
position: relative;
z-index: 6;
border-bottom: 1px solid #DDD;
border-top: 1px solid #DDD;
}

#topnav-wrap, #menu-wrap {
background: #333;
color: #888;
text-shadow: none;
position: relative;
z-index: 45;
border-bottom: 1px solid #AABBCE;
}

#topnav ul li a{ color:#999; text-shadow:none; }
#topnav ul li.hover{ background: #222; color:#BBB; }
#topnav ul a:hover{ color:#FFF; }
#topnav ul ul { background:#333; border-bottom-left-radius:5px; border-bottom-right-radius:5px; padding-bottom:6px; }
#topnav ul ul ul { background:#333; border-bottom-left-radius:0px; border-bottom-right-radius:5px; border-top-left-radius:0px; border-top-right-radius:5px; padding:0 5px 0 0 ; }
#topnav ul.dropdown-horizontal.dropdown-align-left > li {
	border: none;
}

#topnav li:hover{ background:#555; }
#topnav ul.dropdown ul li:hover{ background:#333; }
#topnav li.parent>a, #header-bottom ul.menu li.parent>a{ padding-right:20px; }
#topnav li.parent>a:after, #header-bottom ul.menu li.parent>a:after{ content:"";position:absolute;top:14px;right:6px;width:0;height:0; border-top:4px solid #666;border-right:4px solid transparent;border-left:4px solid transparent }
#topnav li.parent:hover>a:after{ content:"";position:absolute;top:14px;right:6px;width:0;height:0; border-top:4px solid #999;border-right:4px solid transparent;border-left:4px solid transparent }
#topnav li li.parent>a:after{ content:"";position:absolute;top:10px;right:6px;width:0;height:0; border-left:4px solid #666;border-top:4px solid transparent;border-bottom:4px solid transparent }
#header-bottom ul.menu li li.parent>a:after{ content:"";position:absolute;top:10px;right:6px;width:0;height:0; border-left:4px solid #666;border-top:4px solid transparent;border-bottom:4px solid transparent }
#topnav li li.parent:hover>a:after{	content:"";position:absolute;top:10px;right:6px;width:0;height:0; border-left:4px solid #999;border-top:4px solid transparent;border-bottom:4px solid transparent }

#topnav ul.dropdown ul {
	background: #222;
	border-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-bottom: 5px;
	border: 1px solid #333;
	border-top: 0;
}

#topnav ul.dropdown ul ul {
	left: 100%;
	border-radius: 0;
	border: 1px solid #333;
	top: 0px;
	padding: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#header-bottom ul.menu li { color: #555; text-align:center; }
#header-bottom ul.menu > li { border-right: 1px dashed #DDD; }
#header-bottom ul.menu li a {
    padding: 3px 10px;
    line-height: 22px;
}
#header-bottom ul.menu a, #header-bottom ul.menu a:link, #header-bottom ul.menu a:visited { color: #333; text-shadow:#fff 1px 1px 1px; text-decoration: none; display:block; margin:1px; }
#header-bottom ul.menu a:hover { color: #1E598E; }
#header-bottom ul.menu a:active    { color: #1E598E; }
#header-bottom ul.menu ul { 
	border-radius: 4px;
	box-shadow: rgba(0,0,0,0.2) 0px 2px 5px;
	border: 1px solid #dddddd;
	background: #F0F0EF;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

body.ie #header-bottom ul.menu ul { border:1px solid #aaa; }

#header-bottom ul.menu ul li {	text-align:left; }

/** Current menu item */
#header-bottom ul.menu li.current-cat>a, #header-bottom ul.menu li.current_page_item>a, #header-bottom ul.menu li.current-menu-item>a,
#header-bottom ul.menu li.current-cat>a:link, #header-bottom ul.menu li.current_page_item>a:link, #header-bottom ul.menu li.current-menu-item>a:link,
#header-bottom ul.menu li.current-cat>a:visited, #header-bottom ul.menu li.current_page_item>a:visited, #header-bottom ul.menu li.current-menu-item>a:visited{ color: #444; }

/** Ancestor */
#header-bottom ul.menu li.current_page_ancestor>a,#header-bottom ul.menu li.current_page_ancestor>a:visited, #header-bottom ul.menu li.current_page_ancestor>a:link { color: #444; }
#header-bottom ul.menu li.current-menu-ancestor>a,#header-bottom ul.menu li.current-menu-ancestor>a:visited, #header-bottom ul.menu li.current-menu-ancestor>a:link { color: #444; }

/*- SEARCH FORM */

#s{
	-moz-transition:width .4s ease-in-out;
	-o-transition:width .4s ease-in-out;
	-webkit-transition:width .4s ease-in-out;
	background: #FFF url(../images/search.png) 6px 50% no-repeat;
	padding-left: 30px;
	color: #666;
	border: 1px solid black;
	font-size: 16px; color: #999;
	height: 30px;
	line-height: 30px;
}

#header #s{
	background: #FFF url(../images/search.png) 3px 50% no-repeat;
	padding-left: 26px;
	font-size: 12px;
	height: 18px;
	line-height: 16px;
}

#s:focus{
  color:#555
}

/*- SUBSCRIBE */
#subscribe-large {
	bottom: 0;
	left: auto;
	position: absolute;
	right: 0;
}

#subscribe-small {
	display:inline;
}

.subscribe-icons {
	margin: 0;
	padding: 0;
}

.subscribe-icons li {
	display: inline;
	list-style: none;
	margin: 0;
	margin-left: 5px;
	padding: 0;
}

#subscribe-large .subscribe-icons li{
	margin-left: 10px;
}

.subscribe-label.first-child {
	display: none;
}

#subscribe-large li.subscribe-icon img {
	height: 32px;
	width: 32px;
}

/*- FOOTER */
#footer-wrapper {
padding-top: 2em;
}

#footer-line {
border-top: 1px solid #DDD;
padding: 6px;
}

#authorbox {
-moz-border-radius: 4px;
border-radius: 4px;
margin: 1em 0 2em;
padding: 5px 5px;
}
#authorbox .author-info {
line-height: 16px;
padding: 5px;
padding-left: 60px;
}
#authorbox .avatar {
float: left;
margin: 5px;
padding: 0;
}
#billboard-wrapper {
position: relative;
}

#breadcrumbs {
margin-bottom: 10px;
padding: 5px 0;
}
#cancel-comment-reply-link {
display: block;
height: 16px;
position: absolute;
right: 5px;
text-indent: -9999px;
top: 5px;
width: 16px;
}
#content .syntaxhighlighter {
overflow: auto !important;
padding-bottom: 15px;
width: 98% !important;
}
#content div.wpcf7 {
margin: 30px auto;
width: 400px;
}





#page #searchform {
margin-bottom: 20px;
padding: 15px;
text-align: center;
}
#reply-title {
float: left;
line-height: 22px;
margin: 0;
margin-right: 15px;
}
#respond .required {
display: none;
}
#respond .subscribe-to-comments label {
display: inline;
float: none;
padding: 0;
width: auto;
}
#respond input[type="text"] {
float: right;
margin-right: 1px;
width: 50%;
}
#respond input[type=text], textarea#comment {
-moz-border-radius: 4px;
border-radius: 4px;
padding: 3px;
}
#respond label {
clear: left;
display: block;
float: left;
line-height: 30px;
padding-left: 20px;
width: 40%;
}
#respond p {
line-height: 26px;
}
#respond textarea#comment {
float: right;
margin-bottom: 5px;
margin-right: 1px;
width: 97%;
}
#respond, #comments-list #respond {
-moz-border-radius: 6px;
border-radius: 6px;
margin: 1em 1em 1em 2.5em;
overflow: hidden;
padding: 8px;
position: relative;
}
#s {
	padding-left: 26px;
	width: 210px;
}

#header #s { width: 100px; }

#header #s:active, #header #s:focus {
	width: 210px;
}
#searchform-wrapper {
position: absolute;
right: 0px;
top: 0px;
}
#site-title {
line-height: 1;
margin: 10px 0 1em 0;
padding:0;
}

#subscribe {
margin: 0 10px;
width: 25px;
}


#tooltip {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: none;
	opacity: 0.9;
	padding: 3px 8px;
	position: absolute;
	white-space: nowrap;
	z-index: 1000;
	background: #ffe;
	border:1px solid #999;
}

.avatar {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}


/*- ENTRY */
.hentry {
	margin: 0;
	margin-bottom: 1.5em;
	position:relative; 
	padding: 20px 0px 0px;
	border: 1px solid #ccc;
	box-shadow: #ccc 0 1px 3px;
}
.entry-header{ margin-bottom:20px; position:relative; padding: 0px 20px; }

div.categories{ margin-bottom:1em; }
.entry-header .category-title{ text-transform:uppercase; color:#bbb; font-size:11px; font-weight:bold; padding-right: 18px; }
.category-title a { color:#bbb; }
.sub-categories{ opacity:0; -webkit-transition: opacity linear 0.3s; }
.hentry:hover .sub-categories{ opacity: 1; }

.entry-content, .entry-summary {
	padding: 0 20px;
	line-height: 1.7em;
}

.entry-attachment, p.attachment { text-align: center; }
.entry-content p:first-line { text-indent: 20px; }
.entry-content table, .widget_calendar table {
border-collapse: collapse;
border-spacing: 0;
margin-bottom: 1em;
}
.entry-content td, .widget_calendar td {
border-spacing: 0;
border-width: 0 0 1px;
height: 29px;
padding: 0 10px 0;
text-align: left;
vertical-align: middle;
}
.entry-content td.label, .widget_calendar td.label, th[scope="row"] {
min-width: 200px;
}
.entry-content th { padding: 4px 0; }
.entry-content ul li, .entry-content ol li { line-height: 2em; }
.entry-content ul, .entry-content ol { margin-top: 1em; }
.entry-controls {
float: right;
margin: 0;
padding: 0;
text-align: right;
}

.entry-footer{ 	padding:5px; }
.footer-meta, .entry-controls, .footer-meta a{ color:#aaa; }
.footer-meta a:hover{ color:#666; }

.entry-pages {
clear: both;
padding: 0;
text-align: right;
}
.entry-pages .page-number {
border-radius: 15px;
margin-left: 6px;
padding: 1px 4px;
}
.entry-thumbnail {
float: left;
margin: 0 20px;
position: relative;
z-index: 3;
}

/*- ENTRY FORMATs */

.format-quote{ background: #efefef; }
.format-quote .entry-content blockquote
{
	background: transparent;
	border: 0;
	box-shadow: none;
}

.format-audio  .entry-content p {
margin: 0;
}
.format-image  .entry-content p {
margin: 0;
}
.format-link  .entry-content p {
margin: 0;
}
.format-quote  .entry-content p {
margin: 0;
}
.format-quote .entry-content blockquote {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
}
.format-status .author-avatar {
float: left;
margin-right: 10px;
}


.error,
.alert, .warning,
.notice, .note,
.success, .info, 
.box {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin-bottom: 1em;
padding: 0.8em;
}
.facebook-count, .twitter-count, .plusone-count {
display: block;
float: right;
overflow: hidden;
width: 56px;
}
.form-submit {
float: right;
}


.gallery-display li {
border-radius: 6px;
float: left;
list-style: none;
margin: 4px;
padding: 10px;
text-align: center;
width: 169px;
}

ul.gallery-display li img {
	border-radius: 12px;
}


a.permalink {
display: none;
position: absolute;
top: -1px;
right: -2px;
text-indent: -9999px;
background: #fff url(../images/permalink.png) top right no-repeat;
height: 18px;
width: 18px;
text-align: left;
}

.hentry:hover a.permalink{ display:block; }

a.post-edit-link {
display: block;
position: absolute;
top: 24px;
right: 20px;
text-align: left;
text-indent: -9999px;
background: transparent url(../images/pencil.png) 50% 50% no-repeat;
width: 20px;
height: 20px;
opacity: 0;
-webkit-transition: opacity linear 0.3s;
}

.hentry:hover a.post-edit-link{ opacity: 1; }

.footer-meta {
float: left;
}

.inline-comment p {
margin: 0;
padding: 0;
}
.nav-next {
float: right;
}
.nav-previous {
float: left;
}
.navigation {
margin: 15px auto;
padding: 10px;
}
.page-numbers {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 2px 9px;
width: 24px;
}
.pagerank {
border-radius: 3px;
height: 16px;
line-height: 10px;
margin-bottom: 5px;
padding: 2px 3px;
text-align: center;
width: 32px;
}
.pagerank-bar {
height: 3px;
width: 30%;
}
.pagerank-frame {
width: 30px;
}
.paginated-comments-links {
text-align: center;
}
.pagination, .attachment-navi{
clear: both;
line-height: 13px;
padding: 20px 0;
position: relative;
text-align: center;
}
.pagination .current {
padding: 6px 9px 5px 9px;
}
.pagination span, .pagination a, .attachment-navi a, .attachment-navi strong {
border-radius: 4px;
margin: 2px 2px 2px 0;
padding: 6px 9px 5px 9px;
width: auto;
}
.plusone-count {
margin-left: 6px;
}
.reply-inline {
text-align: right;
}
.return_to_top {
border-radius: 15px;
float: right;
padding: 0px 5px;
}
.share-bottom {
clear: both;
padding: 5px;
text-align: right;
}
.share-button.facebook-button, .share-button.tweet-button, .share-button.plusone-button {
margin-top: 5px;
}
.share-horizontal {
line-height: 24px;
margin: 0.6em 0;
}
.share-label {
margin-left: 9px;
margin-top: 3px;
}
.share-label, .share-button {
display: inline;
float: left;
margin-right: 10px;
}
.sidebar li {
line-height: 2.5em;
list-style: none;
margin: 0;
padding: 0 0 0 10px;
}
.sidebar li ul {
margin: 0;
padding: 0 0 0 10px;
}
.sidebar ul {
list-style: none;
margin: 20px 0;
margin-bottom: 1em;
padding: 0;
}
.stf-featured-posts .hentry {
padding: 0;
}
.sub-title {
display: block;
margin-bottom: 15px;
}

.subscribe-label.first-child {
vertical-align: top;
}
.toc li {
line-height: 2em;
margin: 0;
}
.toc ol {
margin: 0;
}
.toc-floatright {
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
float: right;
margin: 0 0 20px 15px;
padding: 10px;
}
.toc-regular {
margin-bottom: 20px;
margin-top: 10px;
padding: 15px;
}
.widget_calendar tbody td {
width: 14%;
}
.widget_calendar td {
padding: 0;
text-align: center;
}
.widget_calendar td a {
display: block;
line-height: 25px;
padding: 0 8px;
}
.wp-pagenavi {
clear: both;
margin-bottom: 15px;
text-align: center;
}
.wp-pagenavi a, .wp-pagenavi span {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 5px;
padding: 3px 7px;
}
.wpcf7 textarea {
height: 150px;
}
a.back-to-parent {
border-radius: 8px;
padding: 2px 8px;
}
a.button, #comment-submit, div.nav-next a, div.nav-previous a {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: block;
padding: 6px 15px;
text-align: center;
}
a.button.large {
line-height: 2.4em;
padding: 0 12px 0 9px;
}
a.button.large span.icon {
display: block;
float: left;
height: 48px;
margin-right: 6px;
margin-top: 6px;
width: 48px;
}

a.read-more {
/* position: absolute;
bottom: 10px;
right: -6px; */
background: #EEE;
border: 1px solid #DDD;
border-radius: 0px;
margin: 0px;
float: right;
margin-right: -25px;
padding: 5px 15px;
display: block;
}

a.read-more.tiny {
	margin: 10px 0px;
	line-height: 10px;
	padding: 6px 11px;
	border-radius: 4px;
	box-shadow: #aaa 0 1px 3px;
	font-size: 11px;
}

a.read-more.tiny:active{
	margin: 11px 0 9px 0;
}

a.share-button {
display: block;
float: right;
height: 20px;
line-height: 24px;
margin-top: 2px;
padding: 0 2px;
width: 20px;
}
blockquote {
margin-left: 10px;
padding-left: 20px;
}
blockquote cite {
float: right;
}
blockquote cite:before {
content: '~ ';
}
body .hascountdown {
-moz-border-radius: 6px;
-ms-border-radius: 6px;
border-radius: 6px;
margin-bottom: 20px;
padding: 5px;
}
body.search .sub-title {
text-align: right;
}
div#theme-copyright {
padding: 0;
text-align: center;
width: 100%;
}
div.comment-author-avatar {
float: left;
margin: 0;
margin-right: 5px;
position: relative;
z-index: 3;
}

.bypostauthor div.comment-author-avatar {
float: right;
}

.bypostauthor div.comment-text {
margin: 0;
margin-right: 50px;
}


div.comment-body-inline {
display: block;
}
div.comment-text {
line-height: 1.5em;
margin-left: 50px;
padding: 3px;
}
div.inline-comment {
-moz-border-radius: 4px;
border-radius: 6px;
margin-bottom: 4px;
padding: 4px 4px 4px;
}
div.inline-comment a.comment-reply-link {
clear: right;
display: block;
float: right;
line-height: inherit;
margin-top: 5px;
padding: 0 5px;
}
div.inline-comments-list {
margin: 1em 1em 1em 2.5em;
}
div.reply {
left: 4px;
position: absolute;
text-align: center;
top: 65px;
width: 40px;
}
div.reply a {
-moz-border-radius: 4px;
border-radius: 4px;
padding: 3px;
}
div.seperator {
	clear: both;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 15px;
	
	border-top:1px solid #ddd;
	
}
div.share {
float: right;
padding: 3px 10px 0;
}

h2 {
margin: 1em 0 0.5em;
}
h2.entry-title {
margin: 0 0 0.6em 0;
}
h3 {
margin: 1.2em 0 0.5em;
}
input.wpcf7-submit {
float: right;
}
input[type="text"], input[type="password"], #s, .wpcf7-text, .wpcf7 textarea {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
height: 20px;
line-height: 20px;
padding: 3px 5px;
}

td#next {
text-align: right;
}
ul.gallery-display {
margin: 1.5em 0;
padding: 0;
}

/* COMMENTS */

ul.inlinecomments, ul.inlinecomments ul, ul.inlinecomments li {
list-style: none;
margin: 0;
padding: 0;
}

ul.inlinecomments ul {
margin-left: 20px;
}

/* SCROLLTOTOP */
#scrolltotop {
display: block;
top: 200px;
position: fixed;
right: 0px;
}

/* WIDGETS */
#footer .fb-like{ margin-left:10px; }

.loop-da-loop .entry-title {
	padding: 0;
	border: 0;
	background: transparent;
}

/* COPYRIGHT */
#powerpack {
padding-bottom: 50px;
font-size: smaller;
color: #BBB;
text-align: center;
}
