@import url('http://fonts.googleapis.com/css?family=Droid+Sans&v2');

body, td, textarea, input, select {
	font-family: 'Droid Sans', GillSans, 'Trebuchet MS', Calibri, sans-serif;
	font-size: 14px;
}
body{ background:#efefef; text-shadow:#efefef 0 0 1px; color:#555; }
a { color: #69f; text-shadow:#eeeeff 0 0 1px; } 
a:visited { color: #7af;  } 
a:hover  { text-decoration:none; color:#7af; } 
pre, code { background:#e0e0e0; font-size: 12px; }
pre{ border:1px solid #fff; box-shadow:inset #ccc 1px 1px 1px, inset #ccc -1px -1px 1px; }
code { background: #E6E6E6; border: 1px solid #DDD; box-shadow: inset #DDD 0 0 8px; }
h2 { margin: 1em 0 0.5em; }
h3 { margin: 1.2em 0 0.5em; }
blockquote { background: transparent; border-left: 2px solid #DDD; padding-left: 20px; margin-left: 10px; font-family: 'Crimson Text', serif; font-size:18px; }

/*- DIALOGS */
.error,
.alert, .warning,
.notice, .note,
.success, .info, 
.box 			{ padding: 0.8em; margin-bottom: 1em; border: 1px solid #ddd; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,1), inset -1px -1px 1px rgba(255,255,255,1); 
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,1), inset -1px -1px 1px rgba(255,255,255,1); 
	box-shadow: inset 1px 1px 1px rgba(255,255,255,1), inset -1px -1px 1px rgba(255,255,255,1);
}

.warning, .error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice, .note     { background: #fff6bf; color: #756500; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

/*- BUTTONS */
a.button, #comment-submit, div.nav-next a, div.nav-previous a {
	display: block;
	text-align: center;
	padding: 6px 15px;
	font-size: 0.9em;
	color: #999;
	text-shadow: #fff 1px 1px 0;
	border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px; 
	border: 1px solid white;
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 0%, #DDD 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#DDD));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#DDDDDD',GradientType=0 );
	cursor: pointer;
	box-shadow: #AAA 0 1px 3px;
	-moz-box-shadow: #AAA 0 1px 3px;
	font-weight: bold;
}

a.button:hover, #comment-submit:hover,  div.nav-next a:hover, div.nav-previous a:hover { 
	background: #fff; 
	background: -moz-linear-gradient(top, #fff 0%, #ddd 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
	color:#666; 
	text-shadow:none; 
	text-decoration:none; 	
}
	
a.button:active, #comment-submit:active,  div.nav-next a:active, div.nav-previous a:active {
	background: #fff; 
	background: -moz-linear-gradient(top, #ddd 0%, #fff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#fff)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 );
	box-shadow: #AAA 0 0px 2px;
	-moz-box-shadow: #AAA 0 0px 2px; 
}

a.button.large{
	padding: 0 12px 0 9px;
	font-size: 24px;
	line-height: 2.4em;
}
a.button.large span.icon{ 
	width: 48px; height: 48px;
	display: block; float: left;
	margin-top: 6px; margin-right: 6px; 
}

a.button.download span.icon{ background: url(images/icons/download.png) 0 0 no-repeat; }
a.button.download:hover{
	background: #FFEEDD; /* old browsers */
	background: -moz-linear-gradient(top, #FFEEDD 0%, #9ECB2D 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFEEDD), color-stop(100%,#9ECB2D)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEEDD', endColorstr='#9ECB2D',GradientType=0 ); /* ie */
	border:1px solid #9ecb2d;
	text-shadow:#9ecb2d 1px 1px 0;
}

a.button.demo span.icon{ background: url(images/icons/preview.png) 0 0 no-repeat; }
a.button.demo:hover{
	background: #FFEEDD; /* old browsers */
	background: -moz-linear-gradient(top, #FFEEDD 0%, #FF9933 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFEEDD), color-stop(100%,#FF9933)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEEDD', endColorstr='#FF9933',GradientType=0 ); /* ie */
	border:1px solid #FF9933;
	text-shadow:#FF9933 1px 1px 0;
}

/*- HIGHLITES */
mark, .highlight  { background: #D9F500; text-shadow: #C8E400 1px 1px 0; }
mark.orange, .highlight.orange { background: #FF9B30; text-shadow: #EE8A20 1px 1px 0; }
mark.yellow, .highlight.yellow { background: #FFEC16; text-shadow: #EEDB05 1px 1px 0; }


input[type="text"], input[type="password"], #s, .wpcf7-text, .wpcf7 textarea {
	border: 1px solid #ccc;
	line-height: 24px;
	font-size: 20px;
	background: #e6e6e6;
	color: #999;
	padding: 3px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	box-shadow: inset #ccc 0 0 2px;
	-moz-box-shadow: inset #ccc 0 0 2px;
}


/*- ENTRY */
.hentry{ margin:0; padding:0 1em 1em; border-radius:10px; }
.home .hentry{ margin:0; border-radius:10px; }
.entry-wrap {
	border-bottom: 2px dotted #e6e6e6;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}

.entry-thumbnail {
	float: left;
	margin-right: 1em;
}

h2.entry-title{ margin:0 0 0.6em 0; }

.entry-content:hover{ color:#555; -webkit-transition:.5s; }
.entry-footer, .entry-controls { color: #AAA; margin-top:1em; margin-bottom: 0; }
	.entry-footer a, .entry-controls a{ color: #aaa; }
	.entry-footer a:hover, .entry-controls a:hover{ color: #7af; }
	.entry-controls{ text-align:right; }
	
.entry-content ul, .entry-content ol{ margin-top: 1em; } 
.entry-content ul li, .entry-content ol li{ line-height: 2em; } 
	
.seperator {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 2px dotted #DDD;
	clear: both;
}


.read-more {
	float: right;
	background: #E6E6E6;
	padding: 2px 5px;
	border-radius: 4px;
}

/*- TABLE OF CONTENTS */
.toc{ 
	padding: 10px;
	background: #efefef; 
	border:1px solid #ddd;
	margin: 0 0 20px 15px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	float: right;
	font-size: 1em;
	box-shadow: inset #fff 1px 1px 0px, inset #fff -1px -1px 0px;
    -o-box-shadow: inset #fff 1px 1px 0px, inset #fff -1px -1px 0px;
    -moz-box-shadow: inset #fff 1px 1px 0px, inset #fff -1px -1px 0px;
    -webkit-box-shadow: inset #fff 1px 1px 0px, inset #fff -1px -1px 0px;
	
} 
.toc ol{ margin:0 }
.toc li{ line-height: 2em; margin:0; }
.return_to_top {
	text-shadow: #AAA 0 0 1px;
	font-size: 13px;
	background: #DDD;
	border-radius: 15px;
	padding: 0px 5px;
	color: white;
	float: right;
}
.return_to_top a, a.jumper { color: #AAA; }
.return_to_top a:hover, a.jumper:hover{ color: #555; }

/*- ENTRY FORMATS */
.format-link  .entry-content p { margin:0; }
.format-audio  .entry-content p { margin:0; }

.format-quote .entry-content blockquote{  
	background: #EFEFEF;
	border: 1px solid white;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: #DDD 0 1px 3px;
	-moz-box-shadow: #DDD 0 1px 3px;
	-webkit-box-shadow: #DDD 0 1px 3px;
	
	overflow:
}
blockquote cite{ float:right; }
blockquote cite:before{ content: '- '; }

.format-quote  .entry-content p { margin:0; }

.format-image  .entry-content p { margin:0; }
.format-aside .entry-content{ font-style: italic; font-size:13px; }

.format-status .author-avatar{ float:left; margin-right:10px; }

ul.gallery-display{ margin: 1.5em 0; padding:0; }
.gallery-display li {
list-style: none;
float: left;
padding: 10px;
background: #DDD;
margin: 4px;
border-radius: 6px;
width: 169px;
text-align: center;
}

/*- ENTRY NAVIGATION */
.navigation{ margin:15px auto; padding:10px; }
.nav-previous{ float:left; } 
.nav-next{ float:right; }

/*- HELPERS */
.mt0 { margin-top: 0; }
.mb1 { margin-bottom: 1em; }