@charset "utf-8";

/*------------------------------------
	RESET 
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through; font-style:italic; }table{border-collapse:collapse;border-spacing:0}

/*------------------------------------
	COMMON
------------------------------------*/
/* body, td, textarea, input, select { font: normal normal normal 13px/normal Lucida Grande, Dejavu sans, Bitstream Vera Sans, Segoe UI, Verdana, Tahoma, Arial, sans-serif; } */

body, td, textarea, input, select{ font: normal normal normal 13px/18px Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; }
pre, code, tt, code, kbd, samp { font-family: Monaco, Consolas, "Andale Mono", "Dejavu Sans Mono", monospace; }
blockquote.stylish, .amp, .and { font-family: Baskerville, Palatino, "Book Antiqua", serif; font-style: oblique; }
blockquote.stylish{ font-size:1.2em }
blockquote{ 
	font-style:italic; padding: 15px; 
	border-bottom:1px solid #ddd; 
	border-left:1px solid #ddd; 
	border-top:1px solid #f0f0f0; 
	border-right:1px solid #f0f0f0; 
	background:#e8e8e8; 
	border-radius:8px; 
	-moz-border-radius:8px; 
	-webkit-border-radius:8px;	}
blockquote.left { float: left; margin-left: 0; margin-right: 20px; text-align: right; width: 33%; }
blockquote.right { float: right; margin-left: 20px; margin-right: 0; text-align: left; width: 33%; }

.comment-body, .comment-body p { font-family: georgia, palatino, palatino linotype, times, times new roman, serif; font-style: oblique; }

/* Small text font */
small, 
.small,
.tiny,
.entry-meta,
.entry-footer,
.entry-permalink,
.edit-link a,
#comments-list li .comment-edit-link,
.reply a,
#cancel-comment-reply,
.entry-category,
.read-more,
.edit-link,
.comments-link,
.breadcrumbs,
.wp-caption p.wp-caption-text {
	font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 11px; 
	line-height: 14px;
}

.smallcaps { font-variant: small-caps; }

h1, h2, h3, h4, h5, h6 { 
	font-family: GillSans, "Trebuchet MS", Calibri, sans-serif;
	font-weight: normal;
	letter-spacing: 1px; 
	text-shadow: 1px 1px 1px rgba(125, 125, 125, 0.3); }

h1{ font-size:2em; }
h2{ font-size:1.7em; font-style:italic; }
h3{ font-size:1.17em; text-transform:uppercase; }
h4{ font-size:1.3em; }
h5{ font-size:1.1em; font-style:italic; }
h6{ font-size:1em; font-weight:bold; letter-spacing: 3px; }

i, cite, em, var, address { font-style: italic; }
big{font-size:larger;}
s, strike{ text-decoration:line-through; }
u, ins { text-decoration: underline; }
q::before { content: '\201C '; } q::after { content: '\201D'; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre, code{ background:#e0e0e0; }
pre { overflow-x: auto; padding: 10px; 
	border-radius:8px; -moz-border-radius:8px; khtml-border-radius:8px; 
}
code { padding: 0 2px; }
acronym{ border-bottom:1px dotted #444444; }
abbr[title], acronym[title] { cursor: help; }
hr { display: none; }

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table,dl, .widget-title, #sidebar .widget-container, .wp-caption{ margin-bottom:15px; }

.logged-in h1{ border:1px dashed rgba(255,0,0,0.3); } /* for SEO */
.logged-in h1:hover{ border:1px dashed rgba(255,0,0,0.9); } /* for SEO */
.logged-in a[rel~="nofollow"] { border-bottom: 1px solid rgba(255,100,0,0.3); }  /* for SEO */
.logged-in a[rel~="nofollow"]:hover { border-bottom: 1px dashed rgba(255,150,0, 1); }  /* for SEO */

/* Links */
a { text-decoration: none; } a:hover { text-decoration: underline; }
.hentry a[rel~="external"], a.external { 
	white-space: nowrap; padding-right: 15px; 
	background: url('images/external-link-ltr-icon.png') no-repeat 100% 50%; zoom: 1; 
}
a.rss { background: url(images/icons/rss.gif) 0 50% no-repeat; padding-left:20px; }

/*- Lists */
.entry-content li, .sidebar li, 
#sidebar .widget-container li, #footer .widget-container li{
	line-height:30px; }
ul, ol { margin-top: 1em; padding-left: 1.5em; }
ul li { list-style-type: circle; }
ul ul li{ list-style-type: square; }
ul ul ul li{ list-style-type: circle; }
ol li { list-style-type: decimal; }
ol ol li { list-style-type: lower-alpha; }
ol ol ol li { list-style-type: lower-roman; }

/* Horizontal lists */
ul.horizontal, ul.horizontal li{ list-style:none;margin:0; display:inline; }
ul.horizontal li{ padding:3px 10px; } ul.horizontal li+li{ border-left:1px solid #999; }

/* Check list */
ul.ticks, ol.ticks{ list-style:none; padding-left:20px; }
ul.ticks li{ background: url(images/icon-tick.gif) no-repeat 8px 3px; line-height: 30px; 
	list-style: none; padding-left: 42px; }

/*- Alignments */
p{ text-align:justify; }
.right{ text-align:right; }
.left{ text-align:left; }
.center{ text-align:center; }

.aligncenter{ display:block; clear:both; margin:15px auto; }
.alignright{ float:right; margin-left:15px; }
.alignleft{ float:left; margin-right:15px; }
.alignnone{ float:none; }

.wp-caption.alignleft, img.alignleft, img[align="left"] { 
	box-shadow: #bbbbbb 2px 2px 5px; 
	-moz-box-shadow: #bbbbbb 2px 2px 5px;
	-webkit-box-shadow: #bbbbbb 2px 2px 5px; 
}

.wp-caption.alignright, img.alignright, img[align="right"] {
	-webkit-box-shadow: #bbbbbb -2px 2px 5px; 
	box-shadow: #bbbbbb -2px 2px 5px; 
	-moz-box-shadow: #bbbbbb -2px 2px 5px;
}

.wp-caption.aligncenter, img.aligncenter, img[align="center"]{
	box-shadow: #bbbbbb 0 2px 5px; 
	-moz-box-shadow: #bbbbbb 0 2px 5px;
	-webkit-box-shadow: #bbbbbb 0 2px 5px; 
}

img.alignleft.noshadow { -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}
img.alignright.noshadow { -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}
	
a img { border: 0; }

img.icon { vertical-align: middle; margin: 4px; }
img.noborder { border: none !important; }
img.wp-smiley { border: none !important; padding: 0 0 0 5px !important; }

.size-thumbnail{ margin:10px; }
img.alignnone, img.size-thumbnail{ border:1px solid #999; }

/* Captions */
.wp-caption{ 
	padding:15px 10px 5px; 
	/* Shadows */
	box-shadow: #bbbbbb 0 2px 5px; 
	-moz-box-shadow: #bbbbbb 0 2px 5px;
	-webkit-box-shadow: #bbbbbb 0 2px 5px; 
	text-align:center;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;	
	border:1px solid #ddd;
}

.wp-caption:hover{
	box-shadow: #3e8cbc 0 2px 7px; 
	-moz-box-shadow: #3e8cbc 0 2px 7px;
	-webkit-box-shadow: #3e8cbc 0 2px 7px; 
	border-color: #a4dbf4;
}

.wp-caption p.wp-caption-text { font-size: 10px; text-align:center; padding:4px; margin:5px 0; }

.wp-smiley { margin: 0 !important; max-height: 1em; }

/* Tables */ 
.entry-content table{ border-collapse: collapse; border-spacing:0; border: 1px solid #fff; 
	/* Shadows */
	box-shadow: #bbbbbb 0 2px 5px; 
	-moz-box-shadow: #bbbbbb 0 2px 5px;
	-webkit-box-shadow: #bbbbbb 0 2px 5px; 
}
.entry-content tr{ border-bottom:1px solid #ddd; }
.entry-content tr.alternate, tr.alt { background:#e8e8e8; }
.entry-content tr:hover{ background: #fff6c3; -webkit-transition: 1s; }
.entry-content td{ border-color: #ddd;
	border-style: solid;
	border-spacing: 0;
	border-width: 0 0 1px;
	height: 29px;
	padding: 0 10px 0;
	text-align: left;
	vertical-align: middle; 
}
.entry-content td.label, th[scope="row"]{ font-weight:bold; min-width:200px; }

/* Definition lists */
dl{ border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:15px 0;}
dt{ font-size:110%; font-weight:bolder; }
dd{ padding:10px 10px 10px 25px; }

.inline{ display:inline; }
.block{ display:block; }

.widget-title{ display:block; }	
.hidetext, .screen-reader-text { 	
	position: absolute;
	left: -9000px; }

/* Dialogs */
.alert, .note, .warning { font-style: oblique; border-style:solid; border-width:1px; 
	-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
	padding:10px;
}

.alert { background: #fff6bf; }
.note { background: #fffbbc; }
.warning { background: #ffcccc; }

/* Clear */
.clear, .clearboth{ clear:both; }
.clearleft{ clear:left; }
.clearright{ clear:right; }

/*- Columnar layout */
#columns .widget-container{ display:inline; float:left; width:300px; margin-left: 10px; margin-right: 10px; }
#columns .seperator{ clear:both; border-top:1px solid #ccc; margin:0px 10px 20px; height:1px; }

/*- Share bottom */
.share-bottom { text-align: right; padding: 5px; }
a.share-button { display: inline; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 4px 5px; font-family: verdana, sans-serif; font-size: 9px; line-height: 10px; }
.buzz, a.buzz:hover { background: #3366ff; color: #fff; border: 1px solid #0033ff; }
.digg, a.digg:hover { background: #fff1b3; color: #554e13; border: 1px solid #e9dc9f; }
.like, a.like:hover { background: #637bad; color: #ffffe5; border: 1px solid #29447e; }
.tweet, a.tweet:hover { background: #c5e1ef; color: #6a9cb3; border: 1px solid #b5c7d3; }

/*- Author info */
#authorbox{ border-top:1px solid #CECFD0; margin:0 10px 10px; overflow:hidden; }
#authorbox .avatar{ border:0; margin:0; padding:5px; float:right; }
#authorbox .author-info{ padding:5px; padding-right:60px; }
#authorbox { color:#888888; }

/* Copyright */
#theme-footer{ text-align:center; margin:15px auto 30px; font-size:12px; }
#theme-copyright{ clear:both; width:800px; text-align:center; margin:10px auto; font-family:  Verdana, Geneva, Tahoma, sans-serif; font-size:10px; color:#888; }
#theme-copyright a,#theme-copyright a:hover { color :#888; }

/* Button */
a.button{
	text-align:center;
	padding:4px 5px;	
	color:#666666;
	text-shadow:1px 1px 0 #CCCCCC;
	border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px; 
	border:1px solid #BBBBBB;
	background: #DDDDDD;
	background: -moz-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDDDDD), color-stop(100%,#CCCCCC));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#CCCCCC',GradientType=0 );
	cursor: pointer;
}

a.button:hover{ 
	background: #FF9900; 
	background: -moz-linear-gradient(top, #FF9900 0%, #FF6600 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF9900), color-stop(100%,#FF6600)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF9900', endColorstr='#FF6600',GradientType=0 );
	border:1px solid #f60;
	color:#ff9; text-shadow:#f60 1px 1px 0; text-decoration:none; }
	
a.button:active{ background: #FF9900; }

/* Helpers */
.hidden{ display:none; }
.box{ border:1px solid #DDDDDD; }
.br8 { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }