@import url('http://fonts.googleapis.com/css?family=Ubuntu');
@charset "utf-8";

/*------------------------------------
	RESET 
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through; font-style:italic; }table{border-collapse:collapse;border-spacing:0}

/*------------------------------------
	COMMON
------------------------------------*/
html { font-size:100.01%; }
body{ 
	background:#efefef;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color:#555;
	font-size: 13px;
	line-height: 1.5em;
}
body, td, textarea, input, select{ 
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color:#555;
}
pre, code, tt, code, kbd, samp { font-family: Monaco, Consolas, "Andale Mono", "Dejavu Sans Mono", monospace; }
blockquote.stylish, .amp, .and { font-family: Baskerville, Palatino, "Book Antiqua", serif; font-style: oblique; }
blockquote.stylish{ font-size:1.2em }
blockquote{ 
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	font-style:italic; padding: 15px; 
	
	border-bottom:1px solid #ddd; 
	border-left:1px solid #ddd; 
	border-top:1px solid #f0f0f0; 
	border-right:1px solid #f0f0f0; 
	background:#EEE; 
	color: #647;
	text-shadow: #fff 1px 1px 0;
	
	border-radius:8px; 
	-moz-border-radius:8px; 
	-webkit-border-radius:8px;	
}
blockquote.left { float: left; margin-left: 0; margin-right: 20px; text-align: right; width: 33%; }
blockquote.right { float: right; margin-left: 20px; margin-right: 0; text-align: left; width: 33%; }

.comment-body, .comment-body p { font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; font-style: oblique; }

/* SMALL TEXT */
small, 
.small,
.tiny,
.entry-meta,
.entry-footer,
.entry-controls,
.entry-permalink,
.entry-permalink a,
a.comment-reply-link,
.edit-link a,
a.edit-link,
#comments-list li .comment-edit-link,
.reply a,
#cancel-comment-reply,
.inline-comment,
.inline-comment .comment-date,
.reply-inline,
.entry-category,
.meta-category a,
.read-more,
.edit-link,
.comments-link,
.comments-link a,
.breadcrumbs,
.wp-caption p.wp-caption-text,
#navigation,
.sub-menu, 
.author-info,
.comment-body-inline {
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
	font-size: 11px;
	color:#888888;
}

.comment-date { font-size:12px; }
.comment-meta, .comment-meta a{ color:#aaa; }
.comment-meta a:hover{ color:#2277dd; }

.smallcaps { font-variant: small-caps; }

i, cite, em, var, address { font-style: italic; }
big{font-size:larger;}
s, strike{ text-decoration:line-through; }
u, ins { text-decoration: underline; }
q::before { content: '\201C '; } q::after { content: '\201D'; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre, code{ 
	background: #E9E9E9;
	box-shadow: inset #CCC 0 0 5px; 
	-moz-box-shadow: inset #CCC 0 0 5px; 
}

.syntaxhighlighter code{ background: none; box-shadow: none; -moz-box-shadow: none; }

pre { 
	color: #666;
	overflow-x: auto; 
	padding: 10px; 
	border-radius:8px; 
	-moz-border-radius:8px; 
	khtml-border-radius:8px; 
	line-height: 1.5em;
	text-shadow: 1px 1px 0 #fff;
}
code { padding: 0 2px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
abbr, acronym{ border-bottom: 1px dotted #666; }
abbr[title], acronym[title] { cursor: help; }
hr { display: none; }
address{ padding-left: 25px; border-left: 2px solid #DDD; }

/* h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table,dl, 
.entry-wrap, .widget-title, #sidebar .widget-container, .wp-caption{ margin-bottom:15px; } */

pre, address, blockquote{ margin-bottom:1em; }

/*
.logged-in h1{ border:1px dashed rgba(255,0,0,0.3); } 
.logged-in h1:hover{ border:1px dashed rgba(255,0,0,0.9); } 
.logged-in a[rel~="nofollow"] { border-bottom: 1px solid rgba(255,100,0,0.3); } 
.logged-in a[rel~="nofollow"]:hover { border-bottom: 1px dashed rgba(255,150,0, 1); } 
*/

/*- LINKS */
a { text-decoration: none; color:#2277dd; } 
a:visited { color:#642e8c; } 
a:hover  { text-decoration:underline; }

::selection{
	background-color: #88DDFF;
	color:#000; 
	text-shadow: none; 
}

.entry-content a:hover { border-bottom: 1px solid #aaa; text-decoration: none; }

.entry-content a[rel~="external"], a.external { 
	white-space: nowrap; padding-right: 15px; 
	background: url('images/external-link-ltr-icon.png') no-repeat 100% 50%; zoom: 1; 
}
a.rss { background: url(images/icons/rss.gif) 0 50% no-repeat; padding-left:20px; }

/*- TITLES */
h1, h2, h3, h4, h5, h6 { 
	font-family: 'Ubuntu', GillSans, "Trebuchet MS", Calibri, sans-serif;
	font-weight: normal;
	letter-spacing: 1px; 
	color:#333333;
	margin:0.67em 0;
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 2em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 1.7em; margin-bottom: 0.75em; }
h3 { font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif; font-size:1.3em; line-height:1.3em; text-transform:uppercase; font-weight:bold; }
h4 { font-size: 1.2em; line-height: 1; margin: 1.33em 0px; }
h5 { font-size: 1em; font-style:italic; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; letter-spacing: 3px; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

h2.entry-title, h1.entry-title, .entry-title, .widget-title, .page-title, .widgettitle, .title{ 
	font: normal normal normal 20px/normal 'Ubuntu', GillSans, "Trebuchet MS", Calibri, sans-serif; 
	text-shadow: rgba(0,0,0,0.1) 0px 0px 1px;
	margin-bottom: 0.67em;
	margin-top: 0; 
}

span.alt {
	color: #666;
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
	font-style: italic;
	font-weight: normal;
	text-shadow: transparent 0px 0px 1px;
}

/*- LISTS */
.entry-content li, .sidebar li, 
#sidebar .widget-container li, #footer .widget-container li{
	line-height:2em; }
	
li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul li { list-style-type: circle; }
ul ul li{ list-style-type: square; }
ul ul ul li{ list-style-type: circle; }
ol li { list-style-type: decimal; }
ol ol li { list-style-type: lower-alpha; }
ol ol ol li { list-style-type: lower-roman; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* Horizontal lists */
ul.horizontal, ul.horizontal li { list-style:none; margin:0; padding:0; display:inline; }
ul.horizontal li{ padding:3px 10px; } ul.horizontal li+li{ border-left:1px solid #999; }

/* Check list */
ul.ticks, ol.ticks{ list-style:none; padding-left:20px; }
ul.ticks li{ background: url(images/icon-tick.gif) 4px 50% no-repeat; line-height: 36px;
	list-style: none; padding-left: 42px; }

/*- ALIGNMENTS */
p{ text-align:justify; }
.right{ text-align:right; }
.left{ text-align:left; }
.center{ text-align:center; }

.tcenter, .aligncenter{ display:block; clear:both; margin:15px auto; }
.tright, .alignright{ float:right; margin-left:15px; }
.tleft, .alignleft{ float:left; margin-right:15px; }
.alignnone{ float:none; }

.thumb.tleft, .wp-caption.alignleft, img.alignleft, img[align="left"] { 
	box-shadow: #bbbbbb 2px 2px 5px; 
	-moz-box-shadow: #bbbbbb 2px 2px 5px;
	-webkit-box-shadow: #bbbbbb 2px 2px 5px; 
}

.thumb.tright, .wp-caption.alignright, img.alignright, img[align="right"] {
	-webkit-box-shadow: #BBB -2px 2px 5px; 
	box-shadow: #BBB -2px 2px 5px; 
	-moz-box-shadow: #BBB -2px 2px 5px;
}

.thumb.tcenter, .wp-caption.aligncenter, img.aligncenter, img[align="center"]{
	box-shadow: #BBB 0 0 6px;
	-moz-box-shadow: #BBB 0 0 6px;
	-webkit-box-shadow: #BBB 0 0 6px;
}

img.alignleft.noshadow { -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}
img.alignright.noshadow { -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}
	
a img { border: 0; }

img.icon { vertical-align: middle; margin: 4px; }
img.noborder { border: none !important; }
img.wp-smiley { border: none !important; padding: 0 0 0 5px !important; }

.size-thumbnail{ margin:10px; }
img.alignnone, img.size-thumbnail{ border:1px solid #999; }

.wp-caption, .thumb{ 
	padding:15px 10px 5px; 
	/* Shadows */
	box-shadow: #BBB 0 0 6px;
	-moz-box-shadow: #BBB 0 0 6px;
	-webkit-box-shadow: #BBB 0 0 6px;
	text-align:center;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;	
	border: 1px solid #FFF;
}

.wp-caption:hover, .thumb:hover{
	box-shadow: #3e8cbc 0 0 7px; 
	-moz-box-shadow: #3e8cbc 0 0px 7px;
	-webkit-box-shadow: #3e8cbc 0 0px 7px;
}

.wp-caption p.wp-caption-text, .thumb .thumbcaption { font-size: 94%; text-align: left; line-height: 1.4em; padding:4px; margin:5px 0; }

div.thumbinner { border: 1px solid #CCC; padding: 3px !important; background-color: #F9F9F9; font-size: 94%; text-align: center; overflow: hidden; }
div.magnify { float: right; border: none !important; background: none !important; }
div.magnify a, div.magnify img { display: block; border: none !important; background: none !important; }

.wp-smiley { margin: 0 !important; max-height: 1em; }

/* Tables */ 
.entry-content table, .widget_calendar table{ margin-bottom:1em; border-collapse: collapse; border-spacing:0; border: 1px solid #EFEFEF; }
.widget_calendar table caption{ border-top:1px solid #ddd; border-bottom:3px double #ddd; background:#eee; }
.entry-content tr, .widget_calendar tr{ border-bottom:1px solid #ddd; }
.entry-content tr.alternate, tr.alt, .widget_calendar tr.alternate, tr.alt { background:#e8e8e8; }
.entry-content tr:hover, .widget_calendar tr:hover{ background: #fff6c3; -webkit-transition: 1s; }
.entry-content td, .widget_calendar td{ border-color: #ddd;
	border-style: solid;
	border-spacing: 0;
	border-width: 0 0 1px;
	height: 29px;
	padding: 0 10px 0;
	text-align: left;
	vertical-align: middle; 
}
.widget_calendar td{ text-align:center; padding:0; }
.widget_calendar tbody td{ width: 14%; }
.entry-content td.label, .widget_calendar td.label, th[scope="row"]{ font-weight:bold; min-width:200px; }
td#next{ text-align:right; }
.widget_calendar td a {
	display: block;
	background: #EEE;
	line-height: 25px;
	padding: 0 8px;
}

/* Definition lists */
dl{ border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:15px 0;}
dt{ font-size:110%; font-weight:bolder; }
dd{ padding:10px 10px 10px 25px; }

.inline{ display:inline; }
.block{ display:block; }

.widget-title{ display:block; }	

.hidetext, .screen-reader-text { 	
	position: absolute;
	left: -9000px; }

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, .warning,
.notice, .note,
.success, .info, 
.box 			{ padding: 0.8em; margin-bottom: 1em; border: 1px solid #ddd; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.warning, .error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice, .note     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }

/* Clear */
.clear, .clearboth{ clear:both; }
.clearleft{ clear:left; }
.clearright{ clear:right; }

/* Clearfix */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html > body .clearfix {
	display: block;
	width: 100%;
}
* html .clearfix {
	height: 1%;
}

/*- BASE COLORS */
#header-wrapper{ 
	background: #333333;
	background: -moz-linear-gradient(top, #333333 0%, #111111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#111111));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111111',GradientType=0 );
	color:#ddd; }
#header{ position:relative; }
#branding{ padding:15px 25px 15px; }
#page{ background:#fff; box-shadow:#ccc 0 0 4px; -webkit-box-shadow:#ccc 0 0 4px; -moz-box-shadow:#ccc 0 0 4px;}

#footer{  
	background: #fff; 
	border-top:1px dashed #c9c9c9;
	padding:20px 0 0;
	box-shadow: #CCC 0 2px 5px;
	-webkit-box-shadow: #CCC 0 2px 5px;
	-moz-box-shadow: #CCC 0 2px 5px;
}

#footer-wide{ text-align:center; }
#theme-footer{
	border-top:1px dashed #c9c9c9;
	background: #EEEEEE;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=0 );

}

/*- HEADER */
#site-title { text-shadow: 1px 1px 1px rgba(125, 125, 125, 0.3); 
	font: normal normal normal 32px/normal 'Ubuntu', GillSans, "Trebuchet MS", Calibri, sans-serif; 
	margin:0; 
}  
#site-title a{ color: #f90; }
#site-description{ font-size:1.2em; font-style:italic; color: #96c; font-weight: bold; }
#site-info a, #site-info a:hover { text-decoration: none; border:0; background:transparent; }

/*- MENU */
#sub-navigation{ border-top:2px solid #666666; background:#ddd; clear:both; }
#sub-navigation ul li a{ color:#777777; }

ul.menu, ul.menu li { list-style:none; padding:0; margin:0; display:inline; }
ul.menu li ul { display:none; }
ul.menu li { display: inline; }
ul.menu li a{ padding: 4px 10px; }

ul.main-menu li{ 
	display: block;
	float: left; 	
	border:1px solid #888888;
	border-bottom:1px solid #dddddd;
	background: #DDD;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	margin-right: 2px;
}
ul.main-menu li a{
	color:#555555;
	border:1px solid #eee;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom:1px solid #dddddd;
}
ul.main-menu li.current_page_item{ background:#666666; color:#fff; border-color:#666666; border-bottom:1px solid #666666; }
ul.main-menu li.current_page_item a{ border-color:#888888; border-bottom:1px solid #666666; color:#dedede; }
ul.main-menu li a:hover{ background:#999; color:#fff; border-color:#bbbbbb; border-bottom:1px solid #999999; text-decoration:none; }
ul.main-menu li:hover{ background:#999; border-bottom:1px solid #999999; }

/*- BILLBOARD */
#billboard-wrapper{ clear:both; } 
#billboard .adsense.leaderboard{ padding:10px; width:728px; margin:0 auto; }

.breadcrumbs { color: #666666; padding:5px; }
.breadcrumbs a{ color:#666666; }
.breadcrumbs .current { color: #444444; font-weight:bold; }

/*- ENTRY */
.entry-content, .widget-container{ line-height: 26px; }
.entry-thumbnail{ float:left; border:1px solid #ddd; padding:3px; margin:0 15px 0 15px; } 
.entry-wrap{ border-bottom:1px dotted #ccc; }

h3.entry-title { font-size: 1.8em; text-transform: none; }

.entry-meta-header { line-height:26px; }

.entry-content{ padding: 0 10px; }
	.entry-content p { margin-bottom: 1em; }

.entry-controls{ text-align:right; }
.entry-footer{ clear:both; margin: 0 10px 10px; padding: 5px; }


/*- TABLE OF CONTENTS */
.toc{ 
	padding: 10px;
	background: #EEE;
	margin: 0 0 20px 15px;
	border: 1px solid white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	float: right;
	font-size: 0.8em;
	box-shadow: #999 0 0 5px;
	-webkit-box-shadow: #999 0 0 5px;
	-moz-box-shadow: #999 0 0 5px;
} 
.toc ol{ margin:0 }
.toc li{ line-height: 2em; margin:0; }
.return_to_top {
	text-align: right;
	margin-bottom: -4em;
	margin-top: 2em;
	margin-right: 1em;
	font-size: 11px;
	text-shadow: #AAA 0 0 1px;
}
.return_to_top a, a.jumper { color:#666; }
.return_to_top a:hover, a.jumper:hover{ color:#f60; }


/*- ENTRY PAGINATION */
.entry-pages{ clear:both; padding: 15px 0; text-align: right; }
.entry-pages a, .entry-pages a:hover { background:transparent; border:0; }
.entry-pages span.label { color:#999999; font-style:italic; } 
.entry-pages .page-number { border: 1px solid #dddddd; font-size: 13px; margin-left:6px; padding: 0px 4px; }
.entry-attachment, p.attachment{ text-align:center; }

/*- ENTRY NAVIGATION */
.navigation{ margin:15px auto; padding:10px; }
.nav-previous{ float:left; } 
.nav-next{ float:right; }

/* ENTRY FORMATS */
.format-aside { padding: 4px; 
	background: #EEE;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-top: 1px solid #F0F0F0;
	border-left: 1px solid #F0F0F0;
	font-style: italic; font-size: 0.9em; 
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #647; 
	text-shadow: white 1px 1px 0; 
}

/*- COMMENTS */
div#comments{ margin: 0 30px; }

ul.inlinecomments, ul.inlinecomments ul, ul.inlinecomments li{ padding:0; margin:0; list-style:none; }
ul.inlinecomments ul{ margin-left:10px; }
div.inline-comment{ 
	background-color: #EEE;
	border-bottom: 1px solid #E6E6E6;
	margin-top: 2px; 
	padding: 5px 5px 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.byuser div.inline-comment{  }
.inline-comment p{ margin:0; padding:0; }

span.comment-author{ font-weight:bold; }
div.comment-author-avatar { float: right; margin: 0; position: relative; z-index: 3; margin-left: 5px; }
div.comment-text { padding: 3px; line-height: 1.5em; font-style: italic; }

div.comment-body-inline{ display:block; }
.reply-inline{ text-align:right; color:#ccc; }
div.inline-comment a.comment-reply-link{
	display: block;
	float: right;
	margin-top: 5px;
	line-height: inherit; 
	clear: right;
}
div.reply { left: 4px; position: absolute; top: 65px; width: 40px; text-align:center; }
div.reply a{ background: #CCC; border-radius:4px; -moz-border-radius:4px; padding: 3px; color:#fff; }
div.reply a:hover{ background: #f60; color:#fff; }
.form-submit{ float: right; } 

#respond, #comments-list #respond {
	background-color: #eee;
	overflow: hidden; 
	margin: 5px 45px;
	border:1px solid #FFF; 
	border-radius:4px; 
	-moz-border-radius:4px; 
	padding:4px; 
	position: relative; 
	color:#999;
	text-shadow:#fff 1px 1px 0;
	box-shadow: inset #CCC 0 0 6px; 
	-moz-box-shadow: inset #ddd 0 0 6px; 
}
#reply-title{ margin:0; }
#respond p{ clear:both; }
#cancel-comment-reply-link { 
	text-transform: none;
	color: #BBB;
	position: absolute;
	right: 5px;
	top: 5px;
	font-weight: normal;
	text-shadow: white 1px 1px 0;
	
	display: block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	background: url(images/close.png) -2px -6px no-repeat;
}
#cancel-comment-reply-link:hover { color:#c00; }
#respond .required{ display:none; }
#respond label {
	width: 40%;
	float: left;
	line-height: 30px;
	padding-left: 20px;
	display: block;
}

#respond input[type=text], textarea#comment{ border:1px solid #ddd; border-radius:4px; -moz-border-radius:4px; padding:3px; }
#respond input[type=text]:focus, textarea#comment:focus{ border-color:#BBB; }
#respond input[type="text"] { width: 50%; float:right; margin-right:1px; }
#respond textarea#comment{ 
	color: #666;
	width: 97%;
	margin-bottom: 5px;
	margin-right: 1px;
	float: right;
	text-shadow: white 0 1px 0;
}
#respond input[aria-required="true"], input[type="text"].required{ background: #fff url(images/required.gif) 99% 3px no-repeat; }

/*- ADS BOTTOM */
.ads-bottom{ clear: both; }

/*- SIMPLE SHARE */
.share-bottom { clear: both; text-align: right; padding: 5px; }
a.share-button { display: inline; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 4px 5px; font-family: verdana, sans-serif; font-size: 9px; line-height: 10px; }
.buzz, a.buzz:hover { background: #3366ff; color: #fff; border: 1px solid #0033ff; }
.digg, a.digg:hover { background: #fff1b3; color: #554e13; border: 1px solid #e9dc9f; }
.like, a.like:hover { background: #637bad; color: #ffffe5; border: 1px solid #29447e; }
.tweet, a.tweet:hover { background: #c5e1ef; color: #6a9cb3; border: 1px solid #b5c7d3; }

/*- AUTHOR */
#authorbox{ background: #EEE; border-bottom: 1px solid #CECFD0; margin:0 10px 10px; overflow:hidden; border-radius: 4px; -moz-border-radius: 4px; }
#authorbox .avatar{ border:0; margin:0; padding:5px; float:right; }
#authorbox .author-info{ padding:5px; padding-right:60px; line-height: 16px; }
#authorbox { color:#888888; }

/*- SIDEBAR & WIDGETS */
.sidebar .widget-container {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px dotted #CCC;
}

div.seperator{ 
	margin: 2em 0;
	border-bottom: 1px dotted #CCC;
	clear: both;
}

/* Copyright */
#theme-footer{ text-align: left; font-size: 12px; padding: 10px; }
#theme-copyright{ 
	clear: both;
	text-align: right;
	margin: 5px auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
	color: #BBB;
	padding-right: 5px;
	text-shadow: white 1px 1px 0;
} #theme-copyright small{ color:#BBB; }
#theme-copyright a,#theme-copyright a:hover { color :#AAA; }

/* Button */
a.button, #comment-submit, div.nav-next a, div.nav-previous a {
	display:inline-block;
	text-align:center;
	padding:4px 15px;
	font-size:12px;
	color:#aaa;
	text-shadow:#fff 1px 1px 0;
	border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px; 
	border: 1px solid white;
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 0%, #DDD 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#DDD));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#DDDDDD',GradientType=0 );
	cursor: pointer;
	box-shadow: #AAA 0 1px 3px;
	-moz-box-shadow: #AAA 0 1px 3px;
	font-weight: bold;
}

a.button:hover, #comment-submit:hover,  div.nav-next a:hover, div.nav-previous a:hover { 
	background: #fff; 
	background: -moz-linear-gradient(top, #fff 0%, #ddd 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
	color:#666; 
	text-shadow:none; 
	text-decoration:none; 	
}
	
a.button:active, #comment-submit:active,  div.nav-next a:active, div.nav-previous a:active {
	background: #fff; 
	background: -moz-linear-gradient(top, #ddd 0%, #fff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#fff)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 );
	box-shadow: #AAA 0 0px 2px;
	-moz-box-shadow: #AAA 0 0px 2px; 
}

a.button.download:hover{
	background: #FFEEDD; /* old browsers */
	background: -moz-linear-gradient(top, #FFEEDD 0%, #9ECB2D 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFEEDD), color-stop(100%,#9ECB2D)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEEDD', endColorstr='#9ECB2D',GradientType=0 ); /* ie */
	border:1px solid #9ecb2d;
	text-shadow:#9ecb2d 1px 1px 0;
}

a.button.demo:hover{
	background: #FFEEDD; /* old browsers */
	background: -moz-linear-gradient(top, #FFEEDD 0%, #FF9933 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFEEDD), color-stop(100%,#FF9933)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEEDD', endColorstr='#FF9933',GradientType=0 ); /* ie */
	border:1px solid #FF9933;
	text-shadow:#FF9933 1px 1px 0;
}

/* Helpers */
.hidden{ display:none; }
.pink{ background:#fee; }
.br8 { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }

mark, .highlight  { background: #D9F500; text-shadow: #C8E400 1px 1px 0; }
mark.orange, .highlight.orange { background: #FF9B30; text-shadow: #EE8A20 1px 1px 0; }
mark.yellow, .highlight.yellow { background: #FFEC16; text-shadow: #EEDB05 1px 1px 0; }

.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }