@charset "utf-8";

/*------------------------------------
	RESET 
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through; font-style:italic; }table{border-collapse:collapse;border-spacing:0}

/*------------------------------------
	COMMON
------------------------------------*/
/* body, td, textarea, input, select { font: normal normal normal 13px/normal Lucida Grande, Dejavu sans, Bitstream Vera Sans, Segoe UI, Verdana, Tahoma, Arial, sans-serif; } */

body, td, textarea, input, select{ font: normal normal normal 13px/18px Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif; }
pre, code, tt, code, kbd, samp { font-family: Monaco, Consolas, "Andale Mono", "Dejavu Sans Mono", monospace; }
blockquote.stylish, .amp, .and { font-family: Baskerville, Palatino, "Book Antiqua", serif; font-style: oblique; }
blockquote.stylish{ font-size:1.2em }
blockquote{ 
	font-style:italic; padding: 15px; 
	border-bottom:1px solid #ddd; 
	border-left:1px solid #ddd; 
	border-top:1px solid #f0f0f0; 
	border-right:1px solid #f0f0f0; 
	background:#e8e8e8; 
	border-radius:8px; 
	-moz-border-radius:8px; 
	-webkit-border-radius:8px;	}
blockquote.left { float: left; margin-left: 0; margin-right: 20px; text-align: right; width: 33%; }
blockquote.right { float: right; margin-left: 20px; margin-right: 0; text-align: left; width: 33%; }

.comment-body, .comment-body p { font-family: georgia, palatino, palatino linotype, times, times new roman, serif; font-style: oblique; }

small, 
.small,
.tiny,
.entry-meta,
.entry-footer,
.entry-permalink,
.edit-link a,
#comments-list li .comment-edit-link,
.reply a,
#cancel-comment-reply,
.entry-category,
.read-more,
.edit-link,
.comments-link,
#breadcrumbs  span{
	font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 11px; 
	line-height: 14px;
}

.smallcaps { font-variant: small-caps; }

h1, h2, h3, h4, h5, h6 { 
	font-family: GillSans, "Trebuchet MS", Calibri, sans-serif;
	font-weight: normal;
	letter-spacing: 1px; 
	text-shadow: 1px 1px 1px rgba(125, 125, 125, 0.3); }

h1{ font-size:2em; }
h2{ font-size:1.7em; font-style:italic; }
h3{ font-size:1.17em; text-transform:uppercase; }
h4{ font-size:1.3em; }
h5{ font-size:1.1em; font-style:italic; }
h6{ font-size:1em; font-weight:bold; letter-spacing: 3px; }

i, cite, em, var, address { font-style: italic; }
big{font-size:larger;}
s, strike{ text-decoration:line-through; }
u, ins { text-decoration: underline; }
q::before { content: '\201C '; } q::after { content: '\201D'; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

.logged-in h1{ border:1px dashed rgba(255,0,0,0.3); } /* for SEO */
.logged-in h1:hover{ border:1px dashed rgba(255,0,0,0.9); } /* for SEO */
.logged-in a[rel~="nofollow"] { border-bottom: 1px solid rgba(255,100,0,0.3); }  /* for SEO */
.logged-in a[rel~="nofollow"]:hover { border-bottom: 1px dashed rgba(255,150,0, 1); }  /* for SEO */

a { text-decoration: none; } a:hover { text-decoration: underline; }

pre, code{ background:#e0e0e0; }
pre { overflow-x: auto; padding: 10px; 
	border-radius:8px; -moz-border-radius:8px; khtml-border-radius:8px; 
}
code { padding: 0 2px; }

/* Lists */
ul, ol { margin-top: 1em; padding-left: 1.5em; }
ul li { list-style-type: circle; }
ul ul li{ list-style-type: square; }
ul ul ul li{ list-style-type: circle; }
ol li { list-style-type: decimal; }
ol ol li { list-style-type: lower-alpha; }
ol ol ol li { list-style-type: lower-roman; }

acronym{ border-bottom:1px dotted #444444; }

/*- Alignments */
p{ text-align:justify; }
.right{ text-align:right; }
.left{ text-align:left; }
.center{ text-align:center; }

.aligncenter{ display:block; clear:both; margin:15px auto; 
	/* Shadows */
	box-shadow: #bbbbbb 0 2px 5px; 
	-moz-box-shadow: #bbbbbb 0 2px 5px;
	-webkit-box-shadow: #bbbbbb 0 2px 5px; 
}

.alignright{ float:right; margin-left:15px; }
.alignleft{ float:left; margin-right:15px; }
.alignnone{ float:none; }

.wp-caption.alignleft, img.alignleft, img[align="left"] { 
	box-shadow: #bbbbbb 2px 2px 5px; 
	-moz-box-shadow: #bbbbbb 2px 2px 5px;
	-webkit-box-shadow: #bbbbbb 2px 2px 5px; 
}

.wp-caption.alignright, img.alignright, img[align="right"] {
	-webkit-box-shadow: #bbbbbb -2px 2px 5px; 
	box-shadow: #bbbbbb -2px 2px 5px; 
	-moz-box-shadow: #bbbbbb -2px 2px 5px;
}

img.alignleft.noshadow { -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}
img.alignright.noshadow { -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none;}
	
a img { border: 0; }

img.icon { vertical-align: middle; margin: 4px; }

/* Captions */
.wp-caption{ 
	padding:4px; 
	/* Shadows */
	box-shadow: #bbbbbb 0 2px 5px; 
	-moz-box-shadow: #bbbbbb 0 2px 5px;
	-webkit-box-shadow: #bbbbbb 0 2px 5px; 
}
.wp-caption p.wp-caption-text { font-size: 10px; text-align:center; padding:4px; }

/* Tables */ 
#page table{ border-collapse: collapse; border-spacing:0; border: 1px solid #fff; 
	/* Shadows */
	box-shadow: #bbbbbb 0 2px 5px; 
	-moz-box-shadow: #bbbbbb 0 2px 5px;
	-webkit-box-shadow: #bbbbbb 0 2px 5px; 
}
#page tr{ border-bottom:1px solid #ddd; }
#page tr.alternate, tr.alt { background:#e8e8e8; }
#page tr:hover{ background: #fff6c3; -webkit-transition: 1s; }
#page td{ border-color: #ddd;
border-style: solid;
border-spacing: 0;
border-width: 0 0 1px;
height: 29px;
padding: 0 10px 0;
text-align: left;
vertical-align: middle; }
#page td.label, th[scope="row"]{ font-weight:bold; min-width:200px; }

/* Definition lists */
dl{ border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:15px 0;}
dt{ font-size:110%; font-weight:bolder; }
dd{ padding:10px 10px 10px 25px; }

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table,dl, .widget-title{ margin-bottom:15px; }

.inline{ display:inline; }
.block{ display:block; }

.widget-title{ display:block; }	
.note, .warning { font-style: oblique; }

.hidetext, .screen-reader-text { 	
	position: absolute;
	left: -9000px; }
.hidden{ display:none; }

/* Clear */
.clear, .clearboth{ clear:both; }
.clearleft{ clear:left; }
.clearright{ clear:right; }

/*- Breadcrumbs */
#billboard-wrapper{ padding:5px; margin-bottom:20px; background:#ddd; border-bottom:1px solid #ccc; } 
.breadcrumbs { color: #999999; }
.breadcrumbs .current { color: #cc66cc; font-weight:bold; }

/*- Columnar layout */
#columns .widget-container{ display:inline; float:left; width:300px; margin-left: 10px; margin-right: 10px; }
#columns .seperator{ clear:both; border-top:1px solid #ccc; margin:0px 10px 20px; height:1px; }

/*- Share bottom */
.share-bottom { text-align: right; padding: 5px; }

/*- Author box */
#authorbox{ border-top:1px solid #CECFD0; margin:0 10px 10px; overflow:hidden; }
#authorbox .avatar{ border:0; margin:0; padding:5px; float:right; }
#authorbox .author-info{ padding:5px; padding-right:60px; }
#authorbox { color:#888888; }

/*- Format Gallery */
.gallery-wrap{ height:270px; border:1px solid #111; background: #222; 
	border-radius:8px; -moz-border-radius:8px; khtml-border-radius:8px; 
}
.gallery-container{ margin:10px auto; }
.gallery-footer {
	position: absolute;
	top: 220px;
	z-index: 65;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 600px;
}
.gallery-footer a.read-more{
	float: right;
	padding: 0;
	line-height: 18px;
	padding: 0 10px;
}
.gallery-footer h2{ color:#ffffff; }

/* Copyright */
#theme-footer{ text-align:center; margin:15px auto 30px; font-size:12px; }
#theme-copyright{ clear:both; width:800px; text-align:center; margin:10px auto; font-family:  Verdana, Geneva, Tahoma, sans-serif; font-size:10px; color:#888; }
#theme-copyright a,#theme-copyright a:hover { color :#888; }



