@font-face {
	font-family: 'Delicious';
	src: url('delicious-roman.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Delicious';
	src: url('delicious-bold.otf');
	font-weight: bold;
	font-style: normal;
}