@font-face {
    font-family: 'Puritan20Normal';
    src: url('Puritan_Regular-webfont.eot');
    src: url('Puritan_Regular-webfont.eot?iefix') format('eot'),
         url('Puritan_Regular-webfont.woff') format('woff'),
         url('Puritan_Regular-webfont.ttf') format('truetype'),
         url('Puritan_Regular-webfont.svg#webfontr5G3RCkZ') format('svg');
    font-weight: normal;
    font-style: normal;

}