.clear,.clearfix { clear: both; }
div#footer { margin: 15px auto; width: 960px; }
#content { line-height: 26px; }
#powered-by { text-align: right; }
#respond { border: 0; }
#wrapper { -moz-border-radius-bottomright: 15px; -moz-border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-bottom-right-radius: 15px; -webkit-border-top-left-radius: 15px; -webkit-border-top-right-radius: 15px; border: 0; border-bottom-right-radius: 15px; border-top-left-radius: 15px; border-top-right-radius: 15px; }
.hentry { margin-bottom:10px; }
.sidebar ul, .sidebar ol { list-style-type: circle; padding-left: 20px; }



#comments { margin-bottom:10px; }
#cancel-comment-reply { display:inline; }
#commentform input[type="text"] { border: none; border-bottom: 1px dashed #999; }
#commentform textarea { border: 1px solid #ccc; width: 98%; }
.comment-author-avatar{ float: left; margin-right: 10px; }
#comments img.avatar {border: 1px solid;
margin-right: 10px;
padding: 5px;}
#comments-list li { position: relative; }
#comments-list li .buttons { margin-bottom: 10px; }
#comments-list li .comment-author { margin-right: 10px; }
#comments-list li li { margin-left: 15px; }
#comments-list ol, #comments-list ul { list-style-type: none; }
#content img { max-width: 600px; }
#header { -moz-border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -webkit-border-top-left-radius: 15px; -webkit-border-top-right-radius: 15px; border-top-left-radius: 15px; border-top-right-radius: 15px; }
#header .description { padding-left: 20px; }
#header .stf_blog_title { padding: 15px 20px; }
#header .logo {float:left; display:inline; }

#lightbox { z-index: 598; }
#respond, #comments-list #respond { overflow: hidden; padding: 10px; position: relative; }

#trackbacks-list { margin-bottom: 10px; }
.alert { margin: 10px auto; padding: 4px 20px; text-align: center; }
.alignleft, img.alignleft, img[align="left"] { display: inline; float: left; margin-right: 1.5em; }
.alignright, img.alignright, img[align="right"] { display: inline; float: right; margin-left: 1.5em; }
.center, .aligncenter, img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.comment-author-avatar { float: left; margin: 3px 6px 3px 3px; position: relative; z-index: 3; }
#respond, .comment-body { -khtml-border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }


.entry-content{ padding:10px 15px; }
.entry-content img { margin: 0 0 1.5em 0; }
.entry-widgets { border-top: 1px solid #ddd; margin: 15px 0; padding: 2px 10px; }
.entry-footer, .entry-meta{ margin-bottom:0; padding:0 10px; }


.hentry ul, .hentry ol { padding-left: 20px; }
.hidden, .screen-reader-text { height: 1px; left: 0px; overflow: hidden; position: absolute !important; top: -500px !important; width: 1px; }
.hidetext, .screen-reader-text { text-indent: -9999px; }
.navigation { margin: 10px; }
.sidebar .widget { margin-bottom: 10px; margin-top: 5px; }
.sidebar .widget li { padding: 5px 2px; }
.wp-caption { margin-bottom: 1.5em; padding-top: 5px; text-align: center; }
.wp-caption .wp-caption-text { margin: 4px 0 2px; }
.wp-caption a img, .wp-caption a img:hover { border: 0 none; padding: 4px 0px 0px; }
.wp-caption img { border: 0 none; margin: 0; padding: 0; }
.wp-caption p.wp-caption-text { line-height: 1.5; margin: 0; }
.wp-smiley { margin: 0 !important; max-height: 1em; }
a img { border: none; }
a[rel~="attachment"] img,.gallery a img,.wp-caption { -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #ddd; border-radius: 3px; padding: 3px; text-align: center; }
blockquote { border-left: 2px solid #f96; margin: 15px; margin-left: 25px; padding-left: 15px; }
blockquote.left { float: left; margin-left: 0; margin-right: 20px; text-align: right; width: 33%; }
blockquote.right { float: right; margin-left: 20px; margin-right: 0; text-align: left; width: 33%; }
div#footer { clear: both; }
div#secondary { clear: right; }
div.comment-body { border: 1px solid #ccc; display: block; margin: 6px; min-height: 67px; overflow: hidden; padding: 8px; position: relative; }
div.reply { left: 4px; padding: 0px 0px 0px 5px; position: absolute; top: 56px; width: 40px; }
div.sidebar { float: right; overflow: hidden; }
hr { display: none; }
img.noborder { border: none !important; }
img.wp-smiley { border: none !important; padding: 0 0 0 5px !important; }
small { line-height: 1.5em; }
.box { border: 1px solid; }
.rss-link { padding-left: 18px; }
a[rel~="attachment"] img:hover,.gallery a img:hover, .wp-caption:hover { border: 1px solid #f60; }
body { border-top: 5px solid black; padding: 20px 0px 40px; }